<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conflict Tracker</title>

    <!-- J Query Library -->
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   
    <script defer src="/js/conflictProfile.js"></script>
    <script defer src="/js/banner.js"></script>
    <script defer src="/js/header.js"></script>

    <link rel="stylesheet" href="/css/template/template.css">
    <link rel="stylesheet" href="/css/template/banner.css">
    <link rel="stylesheet" href="/css/template/header.css">
    <link rel="stylesheet" href="/css/template/footer.css">
    <link rel="stylesheet" href="/css/conflictProfile.css">
</head>
<body id="<%= id %>">
    <header id="header"><%- include("./template/header") %></header>
    <div id="banner"><%- include("./template/banner") %></div>

    <h1><%= conflictName %>: <%= country %></h1>
    <p><% description %></p>
    <main>
        
    </main>
    <footer id="footer"><%- include("./template/footer") %></footer>
</body>
</html>