<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Setting</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script defer src="\js/banner.js"></script>
    <script defer src="js/profile.js"></script>
    <script defer src="js/header.js"></script>

    <link rel="stylesheet" href="css/template/template.css">
    <link rel="stylesheet" href="css/template/banner.css">
    <link rel="stylesheet" href="css/template/header.css">
    <link rel="stylesheet" href="css/template/footer.css">
    <link rel="stylesheet" href="\css/profile.css">
</head>

<body>
    <header id="header">
        <%- include("./template/header") %>
    </header>
    <div id="banner">
        <%- include("./template/banner") %>
    </div>

    <main>
        <br>
        <h1>Profile Page</h1>
        <div class="profileTable">
            Email: <%= email %>

                <br>
                <p>Saved News:</p>
                <% for( let i=0; i < savedNews.length; i++ ) { %>
                    <div class="newsLink" id=<%=`${savedNews[i]}` %>>

                    </div>
                    <% } %>
                        <p>Saved Conflicts: </p>
                        <% for( let i=0; i < savedConflicts.length; i++ ) { %>
                            <p class="conflictLink" id=<%=`${savedConflicts[i]}` %>>

                            </p>
                            <% } %>
                                <br>
                                <form action="/updateUser" method="post" id="userUpdate" hidden>
                                    <div class="profile_form">
                                        <!-- <h3>Email:</h3>
                <input type="text" placeholder="Enter your email" id="email" name="email"><br><br> -->
                                        <!-- <p>New Password:</p> -->
                                        <input type="text" placeholder="Enter your new password.." id="password"
                                            name="password">
                                    </div>
                                </form>
                                <button class="changePass">Change Password</button>
                                <!-- <div class="passButtons" hidden> -->
                                <div class="wrapper">
                                    <input class="passButtons" type="submit" value="Cancel" id="cancelChange" hidden>
                                    <input class="passButtons" type="submit" value="Submit" form="userUpdate" hidden>
                                </div>
                                <!-- </div> -->
        </div>

    </main>

    <footer id="footer">
        <%- include("./template/footer") %>
    </footer>
</body>

</html>