<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Setting</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script defer src="\js/banner.js"></script>
    <script defer src="js/profile.js"></script>
    <script defer src="js/header.js"></script>

    <link rel="stylesheet" href="css/template/template.css">
    <link rel="stylesheet" href="css/template/banner.css">
    <link rel="stylesheet" href="css/template/header.css">
    <link rel="stylesheet" href="css/template/footer.css">
    <link rel="stylesheet" href="\css/profile.css">
</head>

<body>
    <header id="header">
        <%- include("./template/header") %>
    </header>
    <div id="banner">
        <%- include("./template/banner") %>
    </div>

    <main>
        <h1>Profile Page</h1>
        <br>
        <div id="userInfo">
            <p>Email: <%= email %></p>
        </div>
        <div id="savedNews">
            <p>Saved News:</p>
            <% for( let i = 0; i < savedNews.length; i++ ) { %>
                <p class="newsLink" id=<%= `${savedNews[i]}` %>>
                    
                </p>
            <% } %>
        </div>
        <div id="savedConflicts">
            <p>Saved Conflicts: </p>
                <% for( let i = 0; i < savedConflicts.length; i++ ) { %>
                    <p class="conflictLink" id=<%= `${savedConflicts[i]}` %>>

                    </p>
                <% } %>
        </div>
        <form action="/updateUser" method="post" id="userUpdate">
            <div class="profile_form">
                <!-- <h3>Email:</h3>
                <input type="text" placeholder="Enter your email" id="email" name="email"><br><br> -->
                <h3>Password:</h3>
                <input type="text" placeholder="Enter your password" id="password" name="password"><br><br>
            </div>
        </form>
        <br><br>
        <div>
            <input type="submit" value="Edit">
            <input type="submit" value="Submit" form="userUpdate">
        </div>
    </main>

    <footer id="footer">
        <%- include("./template/footer") %>
    </footer>
</body>

</html>